<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    <h1><%= product.name %> - <%= product.brand %></h1>
    <h4>Rp.<%= product.price %></h4>
    <table border="1">
        <tr>
            <th>Warna</th>
            <th>Kategori</th>
            <th>Kondisi</th>
            <th>Stock</th>
            <th>germent</th>
        </tr>
        <tr>
            <td><%= product.color %></td>
            <td> <%= product.category %></td>
            <td> <%= product.condition %></td>
            <td><%= product.stock %></td>
            <% for(garment of product.garments) { %>
            <td><a href="/garments/<%= garment._id %>"><%= garment.name %></a></td>
            <% } %>
        
        </tr>

    </table>
    <p><%= product.description %></p>
<br>
    <a href="/product/<%= product._id %>/edit">Edit</a>
    <form action="/product/<%= product._id %>?_method=DELETE" method="post">
    <button type="submit">HAPUS</button>
</form>
</body>
</html>